.container {
    border: 5px solid red;
    border-radius: 10px;
    background-color: black;
}
.child {
    display: flex;
    justify-content: center;

}
img {
    width: 300px;
}
.child1  {
    display: flex;
    color: white;
    justify-content: center;
}