table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .list {
    display: flex;
    align-items: center;
    justify-content: center;

  }
  ul {
    display: flex;
    list-style: none;
  }
  li {
    margin: 0 10px;
  }
  #next {
    margin-left: 40px;
  }